{% extends 'base.html' %}

{% block title %}Reset Password | Private Diary{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>{% if token_fail %}Invalid token{% else %}Reset Password{% endif %}</h1>

            {% if token_fail %}
            {% url 'accounts_reset_password' as password_reset_url %}
            <p>this link to reset password is invalid.<a href="{{ password_reset_url }}">Re-apply for resetting password</a></p>

            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">Change</button>

                    </form>
                {% else %}
                    <p>the password has been reset.</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}